
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

html,
body,
#react-root {
  height: 100%;
  background-color: #EDEDED;
  font-family: 'Neucha', cursive;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}


/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

/* --------------------------------------------------------------------------------
Nav page
-------------------------------------------------------------------------------- */
.nav_link{
  text-decoration: none;
  color: black;
  
  }

  .nav_link:hover{
    color: black;
  }

  .nav-item{
    border: 1px solid #DFDFDE;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
  
  }

  .nav-item:hover{
    background-color: #DFDFDE !important;
  }
 

  .nav_big{
    background-color: #DFDFDE !important;
    box-shadow: 15px 5px 5px #babab7;
    border-radius: 0 0 15px 15px;
    
  }

  .brand_name{
    font-size: 2.5em !important;
    padding-bottom: 0px !important;
  }
 
  
/* --------------------------------------------------------------------------------
Overview Page
-------------------------------------------------------------------------------- */
/* #86A3B8 #D8D9CF */
.btn-light{
  /* background-color:#EEEEEE !important; */
  background-color: #DFDFDE !important;
}

/* added this class in so that the various tds in the table would all be the same size */
.table_box{
  display: inline-block;
  width: 25px;
  height: 25px !important;
  text-align: center;
}

.habit_data{
  height: 33px;
}

.add_button{
  position:absolute;
}

.habit_rows { display: block; float: left;  }
.habit_data { 
  display: block; 
}


table {
  border-collapse: collapse;
  border-spacing: 0;
 
}
.overview-month-option{
  display: inline;
}
.month_name{
  text-align:center;
  margin-bottom: 0px;
  
}
.month_button{
  height: 35px !important;
  margin: 5px;
  margin-bottom: 0px !important;
}
.habits_for{
  margin-bottom: 0px !important;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.month_view_center{
  display:flex;
  justify-content: center !important;
  width: 35px !important;
}
.month_view_row{
  display: flex;
  align-items: center;
}

.clickable:hover{
  height: 20px;
}

.text_clickable{
  border: 1px solid #DFDFDE !important;
  border-radius: 8px;
  margin: 2px;

}
.text_clickable:hover{
  font-weight: bold;
  background-color: #DFDFDE !important;
  border-radius: 8px;
}

.names{
  display: inline-block;
  width: 125px;
  height: auto;
  
}





/* --------------------------------------------------------------------------------
Award and Paused page
-------------------------------------------------------------------------------- */
.award{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}
/* --------------------------------------------------------------------------------
New habit and Edit habit page
-------------------------------------------------------------------------------- */
.edit_page{
  padding:10px;
  display:flex;
  justify-content: center;
  }
  
  .date_inputs{
    padding-top: 10px;
    padding-bottom: 15px;
  }

  input{
    display:block;
  }
  
  .single_line_button{
    width: 100%;
  }
  .two_button_line{
    width: 50%;
  }
  
  .center{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
/* color library */
.one{
  color: #E96479;
}

.two{
  color: #7DB9B6;
}

.three{
  color: #C04A82;
}

.four{
  color: #187498;
}

.five{
  color: #F0A04B;
}

.six{
  color: #BE6DB7;
}
.seven{
  color: #FFB100;
}
.eight{
  color: #EB5353;
}
.nine{
  color: #A3BB98;
}
.ten{
  color: #F9D923;
}
.eleven{
  color: #36AE7C;
}
.twelve{
  color: #DC8449;
}
.thirteen{
  color: #227C70;
}
.fourteen{
  color: #8D72E1;
}
.fifteen{
  color: #4D4C7D;
}
.white{
  color: #EDEDED;
}

.regular{
  color: black;
}


