html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.scrolling-wrapper-flexbox {
  margin-left: 30%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; 
  overflow-x: auto;
  width:30%;
}

/* added this class in so that the various tds in the table would all be the same size */
.table_box{
  display: inline-block;
  width: 25px;
  height: auto;
  text-align: center;
}



.individual_tables{
  display: inline-block;
  
}



/* color library */
.one{
  color: #E96479;
}

.two{
  color: #7DB9B6;
}

.three{
  color: #4D455D;
}

.four{
  color: #F5E9CF;
}

.five{
  color: #F0A04B;
}

.six{
  color: #E1EEDD;
}

.seven{
  color: #183A1D;
}

.regular{
  color: black;
}


.all_habit_dates{
  
  padding-bottom: 20px;
   display: flex; 
  flex-direction: column; 
  flex-wrap: nowrap;  
  overflow-x: auto; 
   /* width:30%; */
}


